<?xml version="1.0" ?>
<robot name="rotator" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="color_fab_red">
        <material name="">
            <color rgba="0.537 0.153 0.145 1"/>
        </material>
    </xacro:macro>

    <xacro:macro name="color_fab_grey">
        <material name="">
            <color rgba="0.745 0.745 0.745 1"/>
        </material>
    </xacro:macro>

    <xacro:macro name="color_beam_grey">
        <material name="">
            <color rgba="0.5 0.5 0.5 1"/>
        </material>
    </xacro:macro>
</robot>